html {
  font-family: Arial, sans-serif;
}
body {
  color: #707070;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover,
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.4;
}
img {
  max-width: 100%;
}

button {
  border-style: none;
  background: none;
  padding: 0;
}
button:focus {
  outline: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: 'Gotham', 'YoonGothic', sans-serif;
  letter-spacing: -0.08em;
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Gotham-book.woff2') format('woff2'),
    url('/assets/fonts/Gotham-book.woff') format('woff'),
    url('/assets/fonts/Gotham-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Gotham-Medium.woff2') format('woff2'),
    url('/assets/fonts/Gotham-Medium.woff') format('woff'),
    url('/assets/fonts/Gotham-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Gotham-bold.woff2') format('woff2'),
    url('/assets/fonts/Gotham-bold.woff') format('woff'),
    url('/assets/fonts/Gotham-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/YoonGothicPro745.woff2') format('woff2'),
    url('/assets/fonts/YoonGothicPro745.woff') format('woff'),
    url('/assets/fonts/YoonGothicPro745.ttf') format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/YoonGothicPro765.woff2') format('woff2'),
    url('/assets/fonts/YoonGothicPro765.woff') format('woff'),
    url('/assets/fonts/YoonGothicPro765.ttf') format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/YoonGothicPro785.woff2') format('woff2'),
    url('/assets/fonts/YoonGothicPro785.woff') format('woff'),
    url('/assets/fonts/YoonGothicPro785.ttf') format('truetype');
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25em;
  font-size: 1em;
  height: 2.5em;
  line-height: 1.2;

  &.btn-lg {
    font-size: 1.125em;
    height: 3.33em;
  }

  .icon-arrow-right {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
  }
}
.btn-primary {
  border-color: #0b538d;
  background-color: #0b538d;
  font-weight: 700;
  .icon {
    fill: #fff;
  }
}

.text-bold {
  font-weight: 800;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.icon-arrow-right {
    transform: rotate(-90deg);
  }
}

.bg-primary {
  background-color: #0b538d !important;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.text-primary {
  color: #0b538d !important;
}

.icon {
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  svg {
    fill: inherit;
    width: inherit;
    height: inherit;
  }
}

.slideInUp-enter-active {
  animation: slideInUp 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.slideInUp-leave-active {
  animation: slideInUp 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) reverse;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}
