@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 400;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro745.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro745.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro745.ttf')
      format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 500;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro755.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro755.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro755.ttf')
      format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 600;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro765.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro765.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro765.ttf')
      format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 700;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro775.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro775.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro775.ttf')
      format('truetype');
}

@font-face {
  font-family: 'YoonGothic';
  font-style: normal;
  font-weight: 800;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro785.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro785.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/YoonGothicPro785.ttf')
      format('truetype');
}

.yoongothic {
  font-family: 'YoonGothic', sans-serif;
}
.gotham {
  font-family: 'Gotham', sans-serif;
}
