@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBook.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamMedium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/GothamBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 400;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Regular.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Regular.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 600;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Medium.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Medium.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Medium.ttf')
      format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 800;
  src: url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Bold.woff2')
      format('woff2'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Bold.woff')
      format('woff'),
    url('https://kr.object.ncloudstorage.com/common-nanuda/fonts/SpoqaHanSansNeo-Bold.ttf')
      format('truetype');
}

.gotham {
  font-family: 'Gotham', sans-serif;
}
