/* #skip */

#skip {
  position: fixed;
  top: -999px;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: $primary;
  text-align: center;
  color: $white;
  line-height: 4;
  z-index: $zindex-skip;

  &:focus {
    top: 0;
  }
}
